OANDA_API_KEY=32cff5b249ce27942c725d56ee3992e3-beed0f229b9dfbeacc8626d750b22d46
OANDA_ACCOUNT_ID=101-001-38943221-001
OANDA_ENV=practice
BINANCE_API_KEY=NVfKrH6iYeGw32FWBCt61XgXyLUdH7uKCOMk1HrkFfSgf3N9mCHtxgMNtYB9yYLF
VITE_SUPABASE_URL=https://fnklwpixhbuxsyowssob.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZua2x3cGl4aGJ1eHN5b3dzc29iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwNzI0NDYsImV4cCI6MjA5MDY0ODQ0Nn0.PCsrCEq91tREGbV51rs9q_YcOOU7ETPOmEUbUkdSiB0
